
body {
    background-image: url(./photos/newspaper-background.png);
    background-color: #e3e3e3;  
    font-family: monospace;
}

#sourceBtns,
#sourceWords,
#sourceDiv {
    text-align: left;
    margin: 0, 5%;
    transform: translateX(15%);

}


#keywordWords,
#keywordDiv {
    text-align: right;
    transform: translateX(-15%);
}

.words {
    color: #222222;
    font-size: 20px;
    font-family: monospace;
}

#inputSource {
    transform: translateY(-10px);
    width: 15%;
    height: 36px;
    background-color: #fff;
    text-align: center;
}
#inputKeyword {
    transform: translateY(-10px);
    width: 15%;
    height: 36px;
    background-color: #fff;
    text-align: center;  
}

#sourceBtn {
    transform: translateY(-13px);
}

#keywordBtn{    
    transform: translateY(-13px);

}

.btn {
    margin: 3px;
}

.resultsDiv {
    padding: 0 15%;
    background-color:rgba(255, 255, 255, 0.3);
}